.aside {
  width: 70px;
  height: 100vh;
  background-color: #18c29c;
  transition : width 1s;
  /* display: none; */
}

#buttonAction {
  margin: 20px;
  padding: 1px;
  border: none;
  background-color: #18c29c;
  cursor: pointer;
}

#divButton {
  display: flex; 
  justify-content: flex-end;
  
}

#teste {
  padding: 1px;
  position: absolute;
  margin: 20px;
  visibility: hidden;
  background-color: #18c29c;
  border: none;
}


.list {
  list-style: none;
  padding: 13px;
  /* line-height: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}
 .list li {
  align-items: center;
  padding: 10px 0;
  display: flex;
  margin-bottom: 5px;
 }


  .list li:first-of-type{
  background-color: #8ed7c6;
  border-radius: 10%;
 } 

.divMeio {
  height: 258px;
}

#buttonAction2 {
  margin: 20px;
  padding: 1px;
  border: none;
  background-color: #8ed7c6;
  cursor: pointer;
  /* display: none; */
}

#divButton2 {
  display: flex; 
  justify-content: flex-end;
  background-color: #8ed7c6;
  
  
}
#teste2 {
  display: flex;
  padding: 1px;
  position: absolute;
  margin: 20px 10px;

  visibility: hidden;
  background-color: #8ed7c6;
  border: none;
  word-break: normal;
  
}
#teste2 img {
  width: 40px;
  border-radius: 20%;
  margin-right: 10px;  
  
}

span {
  white-space: pre-line;

}

.div2 {
  min-height: 100vh;
  width: 100vw;
  
}

/* TODAS AS DIVS ABAIXO*/

main section:nth-child(1){
  background-color: yellow;
  flex: 1.5;
  display: flex;  
  justify-content: flex-end;
  align-items: flex-start;
  height: 6vh;
}
main section:nth-child(2){
  background: red;
  flex: 1;
  height: 85vh;
}
main section:nth-child(3){
  background: gray;
  flex: 1;
  height: 9vh;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  }

#content {
  margin: 0 auto;
  display: flex;
  width: 400px;
  height: 500px;
  background-color: antiquewhite;
}