.aside {
  width: 70px;
  height: 100vh;
  background-color: #18c29c;
  transition : width 1s;
  /* display: none; */
}

#buttonAction {
  margin: 20px;
  padding: 1px;
  border: none;
  background-color: #18c29c;
  cursor: pointer;
}

#divButton {
  display: flex; 
  justify-content: flex-end;
  
}

#teste {
  padding: 1px;
  position: absolute;
  margin: 20px;
  visibility: hidden;
  background-color: #18c29c;
  border: none;
}

.dashBoard {
  margin-left: 250px;
}


.list {
  list-style: none;
  padding: 13px;
  background-color: red;
  /* line-height: 40px; */

 
}
 .list li {
  /* background-color: red; */
  align-items: center;
  padding: 10px 0;
  display: flex;
  /* justify-content: center; */
  /* background-color: blue; */
 
  margin-bottom: 5px;
 }

 /* .list li:first-of-type{
  background-color: #8ed7c6;
  border-radius: 10%;
 } */

.divMeio {
  height: 228px;
}

#buttonAction2 {
  margin: 20px;
  padding: 1px;
  border: none;
  background-color: #18c29c;
  cursor: pointer;
  /* display: none; */
}

#divButton2 {
  display: flex; 
  justify-content: flex-end;
  
}
#teste2 {
  padding: 1px;
  position: absolute;
  margin: 20px;
  visibility: hidden;
  background-color: #18c29c;
  border: none;
  word-break: normal;
}
#teste2 img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  
}